@{
	ViewData["Title"] = "About us";
}


<div class="mx-auto">
	<h1 class="text-center">@ViewData["Title"]</h1>
	<ul class="list-unstyled m-5">
		<li>
			<p>We are LearnSpace and our purpose is to make the whole school system easier.</p>
		</li>
		<li>
			<p>Streamline grading, enhance learning, and foster academic success with our grade management system.</p>
		</li>
		<li>
			Core values:
			<ul class="list-unstyled m-3">
				<li>
					Our mission is to transform the way schools handle grading by providing an intuitive and reliable system that saves time, increases accuracy, and fosters transparency.
				</li>
				<li>
					We envision a world where technology empowers educators to focus more on teaching and less on administrative tasks.
				</li>
			</ul>
		</li>
		<li>
			Our system is built on three core principles:
			<ul class="list-unstyled m-3">
				<li>ease of use</li>
				<li>reliability</li>
				<li>commitment to enhancing educational outcomes</li>
			</ul>
		</li>
		<li>
			We prioritize security, ensuring sensitive student information is always protected.
		</li>
	</ul>
</div>
