@model List<GradeCourseViewModel>

<div class="container mt-5">
    <h1 class="mb-4">Grades List</h1>
    @if (Model == null || !Model.Any())
    {
        <div class="alert alert-warning">No grades available to display.</div>
    }
    else
    {
        <div class="" style="border: 3px black solid; ">
            <table class="table table-bordered table-striped mb-0">
                <thead class="table-dark">
                    <tr>
                        <th>Course Name</th>
                        <th>Grades</th>
                    </tr>
                </thead>
                <tbody class="border-1">
                    @foreach (var course in Model)
                    {
                        <tr>
                            <td>
                                @course.Name
                                </td>
                            <td>
                                @if (course.Grades.Any())
                                {
                                    <ul class="list-unstyled d-flex flex-row">
                                        @foreach (var grade in course.Grades)
                                        {
                                            <li><a class="text-decoration-none fs-5" asp-controller="Grade" asp-action="GradeInfo" asp-route-id="@grade.Id">@grade.Score</a></li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <span>No grades recorded</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
